<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- css -->
    <link href="http://iweb-studio.com/wrapbootstrap/alstar/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="http://iweb-studio.com/wrapbootstrap/alstar/css/style.css" rel="stylesheet" media="screen">
	<link href="http://iweb-studio.com/wrapbootstrap/alstar/color/default.css" rel="stylesheet" media="screen">

      </head>
  <body>

	  
	  <!-- intro area -->	  
	  <div id="intro">
			<div class="intro-text">
				<div class="container">
					
						
						<div id="rotator">
							
							<h1><span class="1strotate">不论你在什麽时候开始，,不论你在什麽时候结束，,过去的故事总归成为回忆，</span></h1>
							
							<div class="line-spacer"></div>
							<p><span class="2ndrotate">重要的是开始之後就不要停止。,会痛、会哭、会想起。,重要的是结束之後就不要悔恨。</span></p>
						</div>
						
						
					
				</div>
		 	</div>
	 </div>
	  <!-- js -->
    <script src="http://iweb-studio.com/wrapbootstrap/alstar/js/jquery.js"></script>

	
	<script src="http://iweb-studio.com/wrapbootstrap/alstar/js/mb.bgndGallery.js"></script>

	<script src="http://iweb-studio.com/wrapbootstrap/alstar/js/jquery.simple-text-rotator.min.js"></script>
	
	<script src="http://iweb-studio.com/wrapbootstrap/alstar/js/jquery.nav.js"></script>
	
	
	<script src="http://iweb-studio.com/wrapbootstrap/alstar/js/stellar.js"></script>
    
	 <script src="/static/js/custom.js"></script>

	</body>
	 </html>