<!DOCTYPE html>
 <html class="no-js"> <!--<![endif]-->
 <head>
 	<meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="http://griny.frosenka.ru/onepage/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="http://griny.frosenka.ru/onepage/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="http://griny.frosenka.ru/onepage/css/colorbox.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300,600,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		
	<link rel="stylesheet" href="http://griny.frosenka.ru/onepage/css/main.css">
	<link rel="stylesheet" href="http://griny.frosenka.ru/onepage/css/font-awesome.min.css">
	<script src="http://griny.frosenka.ru/onepage/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
<body>
<section id="blog" class="text-block" data-section="5">
			<div class="light-bg">
				<div class="container">
					<h2><i class="icon-pencil"></i> 更多故事 <small class="color">/ 随笔</small></h2>
					<ul class="thumbnails">
						<div class="row">
							<li class="span4">
								<div class="thumbnail">
									<div class="img-wrap">
										<a href="#"><img src="http://griny.frosenka.ru/onepage/images/image_1.jpg" alt=""/></a>
									</div>	
									<h3 class="with-border">周立波脱口秀</h3>
									<div class="info-panel clearfix">
										<span class="pull-left"><time datetime=""><i class="icon-calendar "></i>3月9日9:24 2015年</time></span>
										<span class="pull-right"><i class="icon-user"></i> 来自网络 </span>
									</div>
									<p>每一条通往阳光的大道，都充满坎坷。但越过这些坎坷，必将看到希望的曙光。人的一生是短暂的，有一种微笑，是“宠辱不惊，闲看庭前花开花谢”的恬淡；有一种微笑，是“一花一世界，一叶一菩提”的领悟；有一种微笑，是“错过风，你会收获雨；错过雨，你会收获彩虹”的乐观。</p>
									<a class="btn pull-right" href="#">赞</a>
								</div>	
							</li>
							<li class="span4">
								<div class="thumbnail">
									<div class="img-wrap">
										<a href="#"><img src="http://griny.frosenka.ru/onepage/images/image_2.jpg" alt=""/></a>
									</div>
									<h3 class="with-border">时光絮语</h3>
									<div class="info-panel clearfix">
										<span class="pull-left"><time datetime=""><i class="icon-calendar "></i>2月21日21:00 2015年</time></span>
										<span class="pull-right"><i class="icon-user"></i> 来自网络 </span>
									</div>
									<p>人生的旅途，总是蜿蜒曲折坎坷不平的，人的一生不可能平坦如意，走平坦人生之路的人，可能是平庸的。不属于你的，不要拒绝放弃，那其实是一种胸襟与气度；与你有缘的，不要轻易放手，让自信和坚持成为一种品质和内涵。在意多了，乐趣就少了；看得淡了，一切也会释然。</p>
									<a class="btn pull-right" href="#">赞</a>
								</div>	
							</li>
							<li class="span4">
								<div class="thumbnail">
									<div class="img-wrap">
										<a href="#"><img src="http://griny.frosenka.ru/onepage/images/team3.jpg" alt=""/></a>
									</div>
									<h3 class="with-border">love家_常氏阿胶糕</h3>
									<div class="info-panel clearfix">
										<span class="pull-left"><time datetime=""><i class="icon-calendar "></i>2月20日13:39 2015年</time></span>
										<span class="pull-right"><i class="icon-user"></i> 来自网络 </span>
									</div>
									<p>人的一生，好不好只有自己知道，乐不乐只有自己明白。快乐是一种心情，一种自然、积极向上的心态。在平凡之中寻求快乐，在磨难之中寻求快乐，在曲折之中需求快乐。																										</p>
									<a class="btn pull-right" href="#">赞</a>
								</div>	
							</li>
						</div>
						<div class="row">	
							<li class="span4">
								<div class="thumbnail">
									<div class="img-wrap2">
										<a href="#"><img src="http://griny.frosenka.ru/onepage/images/image_4.jpg" alt=""/></a>
									</div>
									<h3 class="with-border">青春语录</h3>
									<div class="info-panel clearfix">
										<span class="pull-left"><time datetime=""><i class="icon-calendar "></i>2月24日14：29 2015年</time></span>
										<span class="pull-right"><i class="icon-user"></i> 来自网络 </span>
									</div>
									<p>人活一世最重要的是经历。时间，是距离也是宽恕，让一些东西更清晰，让一些感情更明白。人世间悲伤的不仅仅只是你我，走过坎坷，迎面的也许就是欢乐。人的一生，你过得好是精彩，过得不好就当是经历，做人最不该失去信心，想开看开，才会愉快！							</p>
									<a class="btn pull-right" href="#">赞</a>
								</div>	
							</li>
							<li class="span4">
								<div class="thumbnail">
									<div class="img-wrap">
										<a href="#"><img src="http://griny.frosenka.ru/onepage/images/image_5.jpg" alt=""/></a>
									</div>	
									<h3 class="with-border">阿狸说到心坎的说说</h3>
									<div class="info-panel clearfix">
										<span class="pull-left"><time datetime=""><i class="icon-calendar "></i>3月8日13:27 2015年</time></span>
										<span class="pull-right"><i class="icon-user"></i> 来自网络 </span>
									</div>
									<p>任何感情问题都不要冷处理，无论是和家人还是恋人。你有疑惑的时候就要去询问，你有错误的时候就要去承认，你想他就要告诉他。很多事情忍着忍着就变得模糊了，明明不是误会也变成了误会。别以为那些问题会在忍耐的时间中被化解，它只会在日积月累中爆发，给你一个承受不了的结... </p>
									<a class="btn pull-right" href="#">赞</a>
								</div>	
							</li>
							<li class="span4">
								<div class="thumbnail">
									<div class="img-wrap">
										<a href="#"><img src="http://griny.frosenka.ru/onepage/images/image_6.jpg" alt=""/></a>
									</div>
									<h3 class="with-border">赵格羽</h3>
									<div class="info-panel clearfix">
										<span class="pull-left"><time datetime=""><i class="icon-calendar "></i>2月15日8:31 2015年</time></span>
										<span class="pull-right"><i class="icon-user"></i> 来自网络 </span>
									</div>
									<p>一个从不回头的人，未必是因勇敢，也许是怕被识破脸上的泪痕。一个时刻微笑的人，未必是因快乐，可能是怕被看穿心底的叹息。真实，是件很难的事。人总怕被生活轻视，拼命活出一副坚硬的样子。久了，就离自己越来越远。要有多强大，才终于学会不掩饰。一生中最有分量的一个字，原来是--真。</p>
									<a class="btn pull-right" href="#">赞</a>
								</div>	
							</li>
						</div>	
					</ul>	
				</div>	
			</div>	
		</section>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="http://griny.frosenka.ru/onepage/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
		<script src="http://griny.frosenka.ru/onepage/js/bootstrap.min.js"></script>
		<script src="http://griny.frosenka.ru/onepage/js/waypoints.js"></script>
        <script src="http://griny.frosenka.ru/onepage/js/plugins.js"></script>
		<script src="http://griny.frosenka.ru/onepage/js/jquery.colorbox-min.js"></script>
        <script src="http://griny.frosenka.ru/onepage/js/main.js"></script>
		</body>
		</html>